venv/
.DS_Store
university_app/syllabi/*.pdf
pgadmin_data/
postgres_data/
university_app/etl/Database/__pycache__/
university_app/etl/data/
university_app/etl/__pycache__/
../.DS_Store
etl/__pycache__/
site/
university_app/api/Database/__pycache__/
university_app/api/__pycache__/
university_app/notebook/Database/__pycache__/
university_app/api/syllabi/*.pdf
university_app/api/syllabi.zip
