venv/
.DS_Store
university_app/syllabi/*.pdf
pgadmin_data/
postgres_data/
university_app/etl/Database/__pycache__/
university_app/etl/data/
university_app/etl/__pycache__/
../.DS_Store
etl/__pycache__/